.sb{
	width: 20%;
	top:0px;
	bottom:0px;
	position: absolute;
	
	z-index: 5;
	
	background: #f3f3f3;


	
	border-right: 1px solid rgb(170, 170, 170);
	
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.ga-navlist{
	max-height: 100px;
}

.cb{

	background-image: url("../images/furley_bg.png");

	
	width: 80%;
	padding-top:38px;
	left: 20%;
    right: 0;
	top:0px;
	bottom:0px;
	position: absolute;
	z-index: 1;
}

.tb{
	margin: 0 0 20px;
    padding: 0px 5px;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	height: 36px;
	border-bottom: 1px solid #d6dbbf;
}

.nb{
	bottom:0px;
	left:0px;
	right:25px;
	position: absolute;
}

.ft{
	bottom:0px;
	left:0px;
	right:0px;
	position: absolute;
	border-top: 1px solid #d6dbbf;
}
.sb-content {
    overflow-y: auto;
	position:absolute;
	width:100%;
	height:100%;
}

.cb-content{
	overflow-y: auto;
	height:100%;
}

/*OVERRIDES BOOTSTRAP*/


body{
	
	background: #fbfbfb; /* Old browsers */
	
}

table{ 
	background: #fbfbfb; 
	border: #dddddd solid 1px;
}

.pagination > ul > li > a {
	
	color: #fb9d23;
}

.nav-tabs.nav-stacked > li:first-child > a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.nav-tabs.nav-stacked > li:last-child > a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #fb9d23;
	
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}


.nav > li > a:hover, .nav > li > a:focus {
    background-color: #FFECD3;
    text-decoration: none;
}

.nav-list > li > a{
	color: #fb9d23;
}

.navbar-inverse .navbar-inner {
    background-color: #299a0b;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #e2e2e2;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fbfbfb;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #fbfbfb;
    color: #299a0b;
}


.navbar-inverse .navbar-text {
    color: #fb9d23;
}

.navbar-inverse .navbar-link {
    color: #fbfbfb;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #fbfbfb;
    color: #299a0b;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #fbfbfb;
    color: #299a0b;
}


.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-bottom-color: #fbfbfb;
    border-top-color: #fbfbfb;
}


.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #299a0b;
    border-top-color: #299a0b;
}


.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #DDDDDD;
    border-top-color: #DDDDDD;
}


.breadcrumb {
    
	background: none;
	border-radius:0;
    list-style: none outside none;
    margin: 0px;
    padding: 8px 15px;
	
	*border-bottom: 1px solid rgb(170, 170, 170);
}

.breadcrumb > li {
    text-shadow: none;
}
