@font-face {
  font-family: 'RacingSans';
  font-style: normal;
  font-weight: 400;
  src: local('RacingSans'), local('RacingSansOne-Regular'), url(../fonts/RacingSansOne.woff) format('woff');
}

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #299a0b;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.3), 2px 6px 5px rgba(0,0, 0,.2);
	




		font-family: "RacingSans",Helvetica,Arial,sans-serif;

  #-webkit-box-shadow: inset 0 3px 10px rgba(0,0,0,.5), inset 0 -3px 7px rgba(0,0,0,.5);
     #-moz-box-shadow: inset 0 3px 10px rgba(0,0,0,.5), inset 0 -3px 7px rgba(0,0,0,.5);
          #box-shadow: inset 0 3px 10px rgba(0,0,0,.5), inset 0 -3px 7px rgba(0,0,0,.5);
		  
		 
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  color:#299a0b;
}

.jumbotron h1 small{
  //color:#eeeeee;
   text-shadow: none;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

/*OVERRIDE BOOTSTRAP*/
body{


background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
	background: #eeeeee; /* Old browsers */
background: #f9fcf7; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #f9fcf7 0%, #e0ded9 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9fcf7), color-stop(100%,#e0ded9)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #f9fcf7 0%,#e0ded9 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #f9fcf7 0%,#e0ded9 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #f9fcf7 0%,#e0ded9 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #f9fcf7 0%,#e0ded9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#e0ded9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}
.navbar-inverse .navbar-inner {
    background: #006e2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #006e2e 0%, #006e2e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e2e), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #006e2e 0%,#006e2e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

    background-repeat: repeat-x;
    min-height: 40px;
	border-color: #004F1F;
}

.navbar-inverse .divider-vertical {
    border-left-color: #00441B;
    border-right-color: #006B39;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #FBFBFB;
    #text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #004F1F;
    color: #FFFFFF;
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #004F1F;
    color: #FFFFFF;
}

.navbar-inverse .navbar-inner.titlebar {
    border: solid 5px #d1d360;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:solid;
	border-left-style:none;
    min-height: 40px;
}

.titlebar {
    border-radius: 0px 0px 0px 0px;
	border: 5px solid #d1d360;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
	margin-top:15px;	
	font-family: "RacingSans",Helvetica,Arial,sans-serif;
}

.cnt{
	#box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.fnt{ font-family: "RacingSans",Helvetica,Arial,sans-serif;}

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
